/* Global fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

.img__container > img {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

/* #CTA-button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #ff8500 0%, #ff6701 100%);
  border-radius: 8px;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#CTA-button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff8500;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

#CTA-button:hover,
#CTA-button:focus {
  color: #313133;
  transform: translateY(-6px);
}

#CTA-button:hover::before,
#CTA-button:focus::before {
  opacity: 1;
}

#CTA-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#CTA-button:hover::after,
#CTA-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
} */
/* bg-gradient-to-b from-orange-600 to-primary_orange-0 */
#CTA-button {
  transition: ease-in-out 1s;
}
#CTA-button:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 20px #ff7a19;
}

/* nav underline animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ff6701, #fc9219);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.statscol {
  width: 200px;
}

/* .css-1blinku-TitleWrapper {
  color: #fc9219;
  font-size: xx-large;
} */

.timeline-item-title .active {
  font-size: xx-large;
}

#Sponsors {
  padding-top: 100px;
  margin-top: -100px;
}

.search-count {
  position: absolute;
  left: auto;
  right: 10px;
  color: #94a3b8;
  -webkit-user-select: none;
  z-index: 0;
}

.search-container {
  max-width: 300px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

/* media queries for the date part of chrono */
@media screen and (max-width: 600px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
    font-size: xx-small !important;
    text-align: left !important;
    /* font-weight: bold !important; */
  }
}

@media screen and (min-width: 601px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
    /* font-size: xx-large !important; */
    /* text-align: left !important; */
  }
}

@media screen and (max-width: 800px) {
  .search-container {
    max-width: 200px;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .search-container {
    max-width: unset;
    width: 80%;
  }
}

/* slider styles */
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.keen-slider__slide {
  width: "300px";
}
/* #OrangeCon {
  background: linear-gradient(240deg, #eb5a0c, #fd7617);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
} */
#OrangeCon {
  background-color: #eb5a0c;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #eb5a0c 30px
    ),
    repeating-linear-gradient(#a8400855, #a84008);
}
#BlackCon {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#fd7617 2px, transparent 2px),
    radial-gradient(#fd7617 2px, #000000 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
#PNGCon {
  background-image: url("https://user-images.githubusercontent.com/64256342/165560868-8a025a10-992f-46b5-beaf-686aafd78522.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#BlobCon {
  /* width: 1000px;
  height: 1000px; */
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23fd7617%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23eb5a0c%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}
