/* Global fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

.img__container > img {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

/* #CTA-button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #ff8500 0%, #ff6701 100%);
  border-radius: 8px;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#CTA-button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff8500;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

#CTA-button:hover,
#CTA-button:focus {
  color: #313133;
  transform: translateY(-6px);
}

#CTA-button:hover::before,
#CTA-button:focus::before {
  opacity: 1;
}

#CTA-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#CTA-button:hover::after,
#CTA-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
} */
/* bg-gradient-to-b from-orange-600 to-primary_orange-0 */
#CTA-button {
  transition: ease-in-out 1s;
}
#CTA-button:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 20px #ff7a19;
}

/* nav underline animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ff6701, #fc9219);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.statscol {
  width: 200px;
}

/* .css-1blinku-TitleWrapper {
  color: #fc9219;
  font-size: xx-large;
} */

.timeline-item-title .active {
  font-size: xx-large;
}

#Sponsors {
  padding-top: 100px;
  margin-top: -100px;
}

.search-count {
  position: absolute;
  left: auto;
  right: 10px;
  color: #94a3b8;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 0;
}

.search-container {
  max-width: 300px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

.loader-div{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 13;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f1f5f9;
  z-index: 13;
  opacity: 0.8;
}

.loader-group-container{
  position: absolute;
  top: 38vh;
  z-index: 13;
  opacity: 1;
  width: 100%;
  align-items: center;
}

.loader-group{
  background-color: white;
  height: 200px;
  width: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 0 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.fullscreen{
  position:fixed;
  z-index: 13;
  height: 200vh;
  width: 96vw;
  margin: 0 2vw; 
}

.table-cell{
  vertical-align: middle;
}

.loader{
  height: 4rem !important;
  width: 4rem !important;
}

.loading-msg{
  color: black;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-align: center;
}

.skeleton-circle-lg{
  height: 160px !important;
  width: 160px !important;
  margin: auto;
}

.skeleton-circle-md{
  height: 80px !important;
  width: 80px !important;
  margin: auto;
}

.pr-links{
  color:#2563eb;
  opacity: 0.9;
}


.dark-modal .pr-links{
  color: #dbeafe;
}

.pr-links:hover{
  text-decoration: underline;
  opacity: 1;
}

.close-btn:hover, .view-btn:hover{
  background-color: #fa500c !important;
}

.dark-modal{
  background-color: #000000 !important;
}

.modal-score{
  background-color: #ebfaeb;
  margin-left: 20px;
  font-size: 22px;
}

.username:hover{
  text-decoration: underline;
}

.pagination-holder{
  position: relative;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: fit-content;
  width: -moz-fit-content;
  position:absolute;
  right:0;
  background-color: #f3f4f6;
  padding: 5px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out 0s;
}
.dark-theme.pagination{
  background-color: #171717;
}
.pagination .page-item{
  height: 2.2rem;
  width: 2.4rem;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.5s ease-in-out 0s;
}
.pagination .page-item:last-child{
  border-right: none;
}
.dark-theme.pagination .page-item.active-page{
  background-color: #525252;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.pagination .page-item.active-page{
  background-color: #d1d5db;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dark-theme.pagination .page-item .page-link{
  color: white;
}

.pagination .page-link{
  font-weight: bolder;
  display: flex;
  height: 100%;
  align-items: center;
  align-self: center;
  justify-content: center;
  transition: all 0.5s ease-in-out 0s;
}

/* media queries for the date part of chrono */
@media screen and (max-width: 600px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
    font-size: xx-small !important;
    text-align: left !important;
    /* font-weight: bold !important; */
  }
  .pagination{
    padding: 0;
  }
  .pagination .page-item{
    height:35px;
    width: 30px;
  }
}

@media screen and (min-width: 601px) {
  .css-1blinku-TitleWrapper {
    color: #fc9219;
    /* font-size: xx-large !important; */
    /* text-align: left !important; */
  }
}

@media screen and (max-width: 800px) {
  .search-container {
    max-width: 200px;
    width: 80%;
  }
  .loader-group{
    height: 150px;
    width: 150px;
  }
  
  .table-cell{
    vertical-align: middle;
  }
  
  .loader{
    height: 3rem !important;
    width: 3rem !important;
  }
  
  .loading-msg{
    color: black;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .skeleton-circle-lg, .skeleton-circle-md{
    height: 65px !important;
    width: 65px !important;
  }
}

@media screen and (max-width: 400px) {
  .search-container {
    max-width: unset;
    width: 80%;
  }
}

/* slider styles */
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.keen-slider__slide {
  width: "300px";
}
/* #OrangeCon {
  background: linear-gradient(240deg, #eb5a0c, #fd7617);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
} */
#OrangeCon {
  background-color: #eb5a0c;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #eb5a0c 30px
    ),
    repeating-linear-gradient(#a8400855, #a84008);
}
#BlackCon {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#fd7617 2px, transparent 2px),
    radial-gradient(#fd7617 2px, #000000 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
#PNGCon {
  background-image: url("https://user-images.githubusercontent.com/64256342/165560868-8a025a10-992f-46b5-beaf-686aafd78522.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#BlobCon {
  /* width: 1000px;
  height: 1000px; */
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23fd7617%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23eb5a0c%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}

.skeleton-circle-lg, .skeleton-circle-md{
  height: 54px !important;
  width: 54px !important;
}

.banner {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 1000px; /* Width of new image */
  height: 707px; /* Height of new image */
}

.cert-contrib{
  background: url(/GSSoC_Contrib_Cert.png) no-repeat;
}
.cert-topcontrib{
  background: url(/GSSoC_TopContrib_Cert.png) no-repeat;
}
.cert-mentor{
  background: url(/GSSoC_Mentor_Cert.png) no-repeat;
}
.cert-pa{
  background: url(/GSSoC_PA_Cert.png) no-repeat;
}
.cert-ca{
  background: url(/GSSoC_CA_Cert.png) no-repeat;
}
.cert-speaker{
  background: url(/GSSoC_OSAdvocate_Cert.png) no-repeat;
}
.cert-orgteam{
  background: url(/GSSoC_OSAdvocate_Cert.png) no-repeat;
}

.contrib_name {
  position: absolute;
  top: 44%;
  left: 64%;
  transform: translate(-50%, -50%);
}

.text-big-orange{
  font-size: 30px;
  font-weight: bold;
  color: #fd7617;
  font-family: 'Playfair Display', sans-serif;
}

#no-mobile-alert {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .contrib_name{
    top: 46%;
    left: 67%;
  }
  .text-big-orange{
    font-size: 25px;
  }
}
@media only screen and (max-width: 1210px) {
  .banner{
    background-size: calc(100% - 100px);
  }
  .contrib_name{
    top: 44%;
    left: 60%;
  }
  .text-big-orange{
    font-size: 23px;
  }
}
@media only screen and (max-width: 1175px) {
  .contrib_name{
    top: 43%;
    left: 60%;
  }
  .text-big-orange{
    font-size: 20px;
  }
}
@media only screen and (max-width: 1080px) {
  /* .contrib_name, .banner, .text-big-orange{
    display: none;
  } */
  .contrib_name{
    top: 41%;
    left: 60%;
  }
  #no-mobile-alert {
    display: block;
  }
}
@media only screen and (max-width: 1080px) {
  .contrib_name, .banner, .text-big-orange{
    display: none;
  }
  #no-mobile-alert {
    display: block;
  }
}

#IPFSCon {
  background-color: #041A2A;
  opacity: 1;
  background-image: linear-gradient(to right, #041A2A, #0F2F4F);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}